<a href="https://colab.research.google.com/github/surya200317/python-new/blob/module-2/list_suryakiran.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
fruit=["apple","orange","mango","banana"]
print(fruit)
print(fruit[0:2])
print(fruit[:2])
print(fruit[1:2])
print(fruit[1:])
print(fruit[2:])
print(fruit[0:3])

['apple', 'orange', 'mango']
['apple', 'orange']
['apple', 'orange']
['orange']
['orange', 'mango']
['mango']

APPEND,INSERT,REMOVE,POP,DEL,CLEAR,SORT,LEN

In [ ]:
[1]#Append
fruit=["apple","orange","mango","banana"]
print(fruit)
fruit.append("jackfruit")
print(fruit)
print(type(fruit))
[2]##inserting into list
fruit.insert(6,"kiwi")
print(fruit)
[3]##removing into list
fruit=["apple","orange","mango","banana"]
fruit.remove("orange")
print(fruit)
[4]##pop by index
fruit=["apple","orange","mango","banana"]
fruit.pop(1)
print(fruit)
[5]##del into list
del fruit[0]
print(fruit)
[6]##clear the list content
fruit.clear()
print(fruit)
[7]##SORT
num=[10,70,30,44,5]
num.sort()
print(num)
[8]##SORT IN Desending
num=[10,70,30,44,5]
num.sort(reverse=True)
print(num)
[9]##alph sort
alph=["b","k","c","Z","p"]
alph.sort()
print(alph)
[10]## desending
alph=["b","k","c","z","p"]
alph.sort(reverse=True)
print(alph)
[11]##LEN
print(len(alph))

['apple', 'orange', 'mango', 'banana']
['apple', 'orange', 'mango', 'banana', 'jackfruit']
<class 'list'>
['apple', 'orange', 'mango', 'banana', 'jackfruit', 'kiwi']
['apple', 'mango', 'banana']
['apple', 'mango', 'banana']
['mango', 'banana']
[]
[5, 10, 30, 44, 70]
[70, 44, 30, 10, 5]
['Z', 'b', 'c', 'k', 'p']
['z', 'p', 'k', 'c', 'b']
5

In [ ]:
#while loop 
i = 1
while i < 14:
  print(i)
  i +=4

1
5
9
13

In [ ]:
nsk = ["1", "2", "3"]
for x in nsk:
  print(x)

1
2
3

In [ ]:
nsk = ["1", "2", "3"]
for z in range(len(nsk)):
  print(nsk[z])

1
2
3