<a href="https://colab.research.google.com/github/surya200317/python-new/blob/module-2/lists_pynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**TUPLES**

Tuples to list

In [ ]:
trialtuple = ("Python","C","C++")
print(type(trialtuple))
b = list(trialtuple)
print(type(b))

<class 'tuple'>
<class 'list'>

Adding elements to tuple

In [ ]:
thistuple = ("apple", "banana", "cherry")
b = list(thistuple )
b.insert(0,"orange")
thistuple = tuple(b)

print(type(thistuple))
print(thistuple)

<class 'tuple'>
('orange', 'apple', 'banana', 'cherry')

Adding tuple to tuple

In [ ]:
thistuple = ("apple", "banana", "cherry")
y = ("orange",)
thistuple = thistuple + y

print(thistuple)

In [ ]:
#packing and unpacking
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")

(green, yellow, *red) = fruits

print(green)
print(type(green))
print(yellow)
print(red)
print(type(red))

apple
<class 'str'>
banana
['cherry', 'strawberry', 'raspberry']
<class 'list'>