<a href="https://colab.research.google.com/github/surya200317/python-new/blob/module1/python_exercise_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## avg of three numbers

In [ ]:
a=10
b=20
c=30
avg=(a+b+c)/3
print(avg)
print(type(avg))

20.0
<class 'float'>

## multiplication of three numbers

In [ ]:
a=10
b=20
c=30
multi=(a*b*c)
print(multi)
print(type)

6000
<class 'type'>

## Addition of two numbers (dynamic)

a=int(input("enter the number:"))
b=int(input("enter the number:"))
add=(a+b)
print(add)
print(type)

## convert int to float

In [ ]:
a=10
print(type(a))
b=float(a)
print(type(b))

<class 'int'>
<class 'float'>

### convert float to int

In [ ]:
a=12.5
b=int(a)
print(type(a))
print(type(b))
print(b)

<class 'float'>
<class 'int'>
12

### convert int to string

In [ ]:
a=25
b=str(a)
print(type(a))
print(type(b))

<class 'int'>
<class 'str'>

### convert string to int (not possible only  if values given in alph)

## Boolean

In [ ]:
z=10
b=12
c=b<z
print(c)
print(type(c))

False
<class 'bool'>

### boolean into int

In [ ]:
z=10
b=12
c=b<z
c=int(c)
print(c)
print(type(c))

0
<class 'int'>

##types

In [ ]:
a=10
b=5
c=a>b
print(c)
print(type(c))

True
<class 'bool'>

In [ ]:
a=bool(10)
print(type(a))
b=int(a)
print(type(b))

<class 'bool'>
<class 'int'>

In [ ]:
a=bool(10)
print(type(a))
b=float(a)
print(type(b))

<class 'bool'>
<class 'float'>

##complex to int

In [ ]:
a=10
b=5
c=a>b
d=str(c)
print(c)
print(type(c))
print(d)
print(type(d))

True
<class 'bool'>
True
<class 'str'>